<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            border: 1px solid black;
            width: 400px;
        }
    </style>
</head>
<body>
    <form action="/testGetForm" method="get">
     <h1>get으로 정보 받기</h1>   
     <h4>이름<input type="text" placeholder="id" name="id" required></h4>
     <div><h4>성별</h4>
        <input type="radio" name="sexual" value="남자">남자
        <input type="radio" name="sexual" value="여자">여자
     </div>
     <div><h4>생년월일</h4>
        <input type="date" name="date">
     </div>
     <div>
        <input type="checkbox" name="inter" value="여행">여행
        <input type="checkbox" name="inter" value="팬션">패션
        <input type="checkbox" name="inter" value="음식">음식
     </div>
     <button type="submit">회원가입</button>
    <form>
</body>
</html>