<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            border: 1px solid black;
            width: 400px;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <form action="/testPostForm" method="post">
     <h1>post으로 정보 받기</h1>   
     <h4>이름<input type="text" placeholder="id" name="id" required></h4>
     <div><h4>성별</h4>
        <input type="radio" name="sexual" value="남자" required>남자
        <input type="radio" name="sexual" value="여자" required>여자
     </div>
     <div><h4>생년월일</h4>
        <select name="year" id="year">
            <option value="1991">1991</option>
            <option value="1992">1992</option>
            <option value="1993">1993</option>
            <option value="1994">1994</option>
            <option value="1995">1995</option>
            <option value="1996">1996</option>
            <option value="1997">1997</option>
            <option value="1998">1998</option>
            <option value="1999">1999</option>
            <option value="2000">2000</option>
            <option value="2001">2001</option>
            <option value="2002">2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
        </select>년
        <select name="month" id="month">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>월
        <select name="date" id="date">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>일
     </div>
     <div>
        <h4>관심사
        </h4>
        <input type="checkbox" name="inter" value="여행">여행
        <input type="checkbox" name="inter" value="팬션">패션
        <input type="checkbox" name="inter" value="음식">음식
     </div>
     <div>
        좋아하는 색상<input type="color" name="color">
        좋아하는 숫자<input type="number" name="number">
     </div>
     <button type="submit">회원가입</button>
    <form>
</body>
</html>