<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for (i = 0; i < data.length; i++) { %>
    <div><%= data[i] %>단</div>
    <% for (j = 1; j <= data.length+1; j++) { %>
    <div><%= data[i] %> x <%= j %> = <%= data[i]*j %></div>
    <% } %> <% } %>
  </body>
</html>
